.ipynb_checkpoints/*
*.pyc
*.swp
bin/
include/
lib/
lib64
share/
pip-selfcheck.json
.vscode/.ropeproject/objectdb
.vscode/.ropeproject/config.py
.cache/v/cache/lastfailed
data-cache.sqlite
oecd_10-1_returns.csv
oecd_10-4_returns.csv
oecd_bond_returns.csv
WERCOMP-returns.csv
bonds-monthly-annual.csv
bonds-monthly.csv
WERCOMP-*.csv
.pytest_cache/v/cache/nodeids
*/.ipynb_checkpoints/*
